@charset "UTF-8";
body {
  background: linear-gradient(to right, #76140d, #e0746d); }

h1 {
  font-weight: bold; }

h2 {
  font-weight: bold; }

h3 {
  font-weight: bold; }

h4 {
  font-weight: bold; }

h5 {
  font-weight: bold; }

h6 {
  font-weight: bold; }

.instagram {
  color: #f7c66b; }

.twitter {
  color: skyblue; }

.facebook {
  color: blue; }

.whatsapp {
  color: #06b806; }

.email {
  color: black; }

.primerestilo, .segundoestilo {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold; }

.segundoestilo {
  font-size: medium; }

.parrafosConEstilo {
  font-family: 'Rajdhani', sans-serif; }

.parrafosConCambios {
  font-size: 50px;
  text-align: justify; }

* {
  margin: 0;
  padding: 0; }

/* NAV */
nav {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: bolder; }

/* BODY */
body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background: linear-gradient(to right, #76140d, #923b35);
  position: relative;
  padding-bottom: 2.5em;
  min-height: 100vh; }

h2 {
  color: white;
  text-align: center;
  font-weight: bold; }

/* CARRUSEL DEL INDEX */
.carouselslide {
  position: relative;
  top: 20%;
  left: 5%; }

.carousel-inner img {
  max-height: 480px;
  position: sticky; }

.carousel-inner {
  position: relative;
  left: 25%;
  height: 600px; }

.carousel-inner p {
  text-transform: uppercase;
  font-size: larger;
  color: white;
  position: relative;
  left: 15%; }

.boton {
  position: relative;
  left: 20%;
  font-weight: bold; }

/* FOOTER */
footer {
  font-size: larger;
  font-weight: bold;
  position: absolute;
  bottom: 0%;
  width: 100%; }

h6 {
  font-family: 'Koulen', cursive; }

/* FORMULARIO DE CONTACTO */
form {
  font-weight: bold;
  height: 50%; }

.nosotros {
  font-weight: bold; }

.carritoletra {
  font-weight: bold; }

/* GALERIA DE IMAGENES - PAGINA PRODUCTOS */
.produc {
  font-weight: bold;
  text-align: center; }

.produc img {
  box-sizing: border-box;
  width: 300px;
  height: 300px; }

.row {
  display: flex;
  padding: 10px;
  flex-wrap: wrap; }

.column {
  flex: 25%;
  padding: 5px; }

.column img {
  margin-top: 5px; }

/* TAMAÑO DE LA PANTALLA */
@media (max-width: 800px) {
  .column {
    flex: 50%; } }

@media (max-width: 600px) {
  .column {
    flex: 100%; } }

@media (max-width: 800px) {
  .indexbody {
    flex: 50%; } }

@media (max-width: 600px) {
  .indexbody {
    flex: 100%; } }

.disclaimer {
  display: none; }
